<template id="if01" type="mxt">
    <!-- segment00 -->
    <hr/>
    <div style="color: ${color}">Before IF</div>
    <!-- /segment00 -->
    
    <!-- container01 -->
    <mxt.if>
        <!-- segment03 -->
        <hr/>
        <div style="color: ${color}">Yes, it is TRUE</div>
         <!-- /segment03 -->

        <!-- segment04 -->
        <mxt.if>
            <div style="color: ${color}">Yes, it is TRUE and TRUE</div>
        </mxt.if>
        <!-- /segment04 -->
       
    </mxt.if>
     <!-- /container01 -->
    
    <!-- segment02 -->
    <hr/>
    <div style="color: ${color}">After IF</div>
    <!-- /segment02 -->
</template>