<template id="switch01" type="mxt">
    <!-- segment00 -->
    <hr />
    <div style="color: ${color}" mxt.click="${switchClick}">Click to switch</div>
    <!-- /segment00 -->

    <!-- container01 -->
    <mxt.switch on="${switchindex}">
        <mxt.case when="${0}">
            <div>Switch index 0</div>
        </mxt.case>
        <mxt.case when="${1}">
            <div>Switch index 1</div>
        </mxt.case>
        <mxt.case when="${2}">
            <div>Switch index 2</div>
        </mxt.case>
        <mxt.case when="${$on > 2}">
            <div>Greater then 2</div>
        </mxt.case>
        <mxt.default>
            <div>Switch index default</div>
        </mxt.default>
    </mxt.switch>
    <!-- /container01 -->
</template>